@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --green: #247977;
  --blue: #143f64;
  --gray: #44556d;
}


* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Changa', sans-serif;

}

.navbar {
  background-color: var(--blue);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  direction: rtl;
  box-shadow: 0 4px 18px rgba(31, 30, 30, 0.5);
  z-index: 5;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-nav {
  color: var(--blue);
  position: relative;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: auto;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
  overflow: hidden;
}

.nav-links a, .btn-nav {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  transition: color 0.3s, transform 0.3s;
  position: relative;
  z-index: 1;
}

/* Line effect on hover */
.nav-links a::after
 {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px; 
  background-color: #f3ac4f;
  top: 40px; 
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  z-index: -1;
}

.nav-links a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-links a:hover, .btn-nav:hover {
  color: #f3ac4f;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--yellow);
}
.btn-nav:hover,.btn1:hover{
  background-color:#fff;
  color: var(--blue);
  }

.btn2{
  color: #fff;
  background-color: #f3ac4f;
}
.btn2:hover{
  color: #fff;

}
a{
  text-decoration: none;
  color: var(--blue);
}
@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: var(--blue);
      width: 100%;
      text-align: center;
  }

  .btn-nav {
      display: none;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
      margin: 15px 0;
  }

  .menu-icon {
      display: block;
  }

  .logo img {
      width: 50%;
      height: 40px;
  }
}
/* home */
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #000; 
    background-image: url('images/img2.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
.content {
  z-index: 2;
  color: #fff; 
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1.5s ease-out forwards;
}

.content h1 {
  font-size: 50px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out 0.3s forwards;
}

.content p {
  font-size: 25px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out 0.6s forwards;
}

/* Keyframes for fade-in and slide-up animation */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.buttons {
    margin-top: 20px;
}
.btn1{
    background-color: var(--blue);
    color: #fff;
}

.btn{
  text-align: center !important;
  margin-top: 20px;
}

button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    border-radius:7px;


}

button:hover {
    background-color: var(--grean); 
    color: #fff;
}

@media (max-width: 768px) {
    .hero-section {
        padding: 20px;
    }

    .content {
        font-size: 14px;
    }

    button {
        
        margin-top: 10px;
    }
    .content h1{
        font-size: 30px;
      }
      .content p{
        font-size: 20px;
      }
      button {
     
        font-size: 15px;
    
    }
}



/* carsoul */


.carousel-container {
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #0c2949;
    border-top: 1px solid #bababa;


}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    cursor: grab;
    position: relative;
    justify-content: center;
    max-width: 1200px;
    margin:  auto;

}

.carousel.dragging {
    cursor: grabbing;
}

.carousel-item {
    min-width: 120px;
    margin: 0 10px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    flex: 0 0 auto;
}

.carousel-item img {
    width: 100px;
    height: 100px;
    height: auto;
    border-radius: 8px;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.carousel::-webkit-scrollbar {
    display: none;
}


@media (max-width: 768px){
    .carousel-item {
        min-width: 120px;
       
    }
}


/* about  */


.solutions-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 5%;
    background-color: white;
}

.text-content {
    flex: 1;
}

.text-content h4 {
    color: var(--green);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.text-content h1 {
    font-size: 2.5rem;
    color: var(--blue);
    margin-bottom: 1.5rem;
    line-height: 1.3;
}

.text-content p {
    font-size: 1rem;
    color: #727f91;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.text-content ul {
    list-style-type: none;
    font-size: 1rem;
    color: #727f91;
    line-height: 1.8;
}

.text-content ul li {
    margin-bottom: 1rem;
    position: relative;
    padding-left: 25px;
}

.text-image{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-right: 477px;
  margin-top: -15px;
  max-width: 170px;
  color: #fff;
}

.image-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.image-content img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

@media (max-width: 1024px) {
    .solutions-section {
        flex-direction: column;
        text-align: center;
        padding: 2rem 5%;
        height: auto;
    }

    .text-content, .image-content {
        max-width: 100%;
    }

    .text-content {
        margin-bottom: 2rem;
    }

    .text-content h1 {
        font-size: 2rem;
    }

    .text-content ul li {
        font-size: 1rem;
    }
   
}

@media (max-width: 768px) {
    .text-content h1 {
        font-size: 1.8rem;
    }

    .text-content p, .text-content ul {
        font-size: 0.9rem;
    }

    .text-content ul li {
        padding-left: 20px;
    }

    .text-content ul li:before {
        font-size: 1rem;
    }
    .text-image{
      
      margin-right: -213px;
      margin-top: 600px;
    }
}

@media (max-width: 480px) {
    .solutions-section {
        padding: 1rem;
    }

    .text-content h1 {
        font-size: 1.5rem;
    }

    .text-content p, .text-content ul {
        font-size: 0.85rem;
    }

    .text-content ul li {
        padding-left: 18px;
    }

    .text-content ul li:before {
        font-size: 0.9rem;
    }
    .text-image{
      
      margin-right: -120px;
      margin-top: 560px;
    }
}

  


/* Service Section */
  .servicee{
    background-color: #f4f4f4;
    height: 100vh;
  }
  .servicee h1{
    color: var(--blue);
  }
 .card-container {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
        .card {
            background-color: white;
            width: 330px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 20px;
        }
        .card-header {
            height: 50px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .card-red .card-header {
            background-color: #efbe77;
        }
        .card-green .card-header {
            background-color: var(--green);
        }
        .card-purple .card-header {
            background-color: #d1d3d4;
        }
        .card-orange .card-header {
            background-color: #f7dfbb;
        }
        .profile-pic {
            width: 100%;
            border-radius: 50%;
            margin-top: -40px;
        }
        .card h2 {
            margin: 15px 0 5px;
            color: var(--blue);
        }
        .card p {
            margin: 5px 0;
            font-size: 0.9em;
            color: #666;
        }
        .card .followers, .card .following {
            margin: 10px 0;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
        }
    
        .social-icons i {
            font-size: 1.2em;
            color: #3498db;
        }

            @media (max-width: 768px) {
            .card-container {
                flex-direction: column;
                align-items: center;
            }
            .card {
                width: 90%;
                max-width: 400px;
            }
            .servicee{
              height: auto;
            }
        }

        @media (max-width: 480px) {
            .card {
                width: 100%;
                height: 480px;
            }
            .button-container {
                flex-direction: column;
                gap: 10px;
            }
            .button {
                width: 100%;
            }
        }



/* #service {
  background-color: #0d2a4a;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.service-box {
  padding: 45px;
  background-color: #8d8d8d;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(124, 124, 124, 0.2);
  color: #fff;
}

#service h1 {
  font-size: 50px;
  text-align: right;
  color: #fff;
  padding: 20px;
}

.large {
  grid-column: span 2;
  background-image: url(images/line.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.medium {
  grid-column: span 1;
  grid-row: span 2;
  background-color: rgb(113, 113, 113);
  background-image: url(images/lines.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.small {
  background-color: #858585;
}

.small2 {
  background-color: #a3a3a3;
}

#service h2 {
  margin-top: 15;
  margin-bottom: 15px;
  font-size: 34px;
  max-width: 270px;
}

#service p {
  max-width: 500px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 1.5; 

}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 0px;
} */

/* Responsive Design */
@media (max-width: 768px) {
 
  #service,.servicee{
    display: none;
  }

}


.show-on-mobile {
  display: none; 
}

@media (max-width: 768px) {
  .show-on-mobile {
      display: block; 
  }
  .show-on-mobile h1{
    color: var(--blue);
  }
}


.service {

  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.testimonial-sliderr {
  position: relative;
  max-width: 800px;
  width: 100%;
  color: white;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(82, 75, 75, 0.1);
  height: 550px;
  font-size: 20px;
  padding: 20px;

}

.testimoniall {
  display: none;
  text-align: center;
}

.testimoniall i {
font-size: 70px;   
color: var(--yellow);

}



.testimoniall h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--blue);
}
.testimoniall p{
  color: var(--blue);
}
.prevv, .nextt {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.nextt {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prevv {
  left: 0;
  border-radius: 3px 0 0 3px;
}


.prevv:hover, .nextt:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



/* how we works */

.how{
  background-color: #fff;

}
.team-section{
  padding: 40px;
  margin-top: 20px;
}
.team-section h1{
  text-align: center;
  font-size: 40px;
  color: var(--blue);
}
.team-container {
  margin: 80px 0 50px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.team-member {
  padding: 10px;
  text-align: center;
  flex: 1;
  min-width: 140px;
  max-width: calc(14.28% - 40px); 
  flex-basis: calc(14.28% - 40px); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.team-member h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: var(--blue);
}

.team-member p {
  font-size: 19px;
  color: #777;
  margin-bottom: 20px;
  line-height: 1.5; 

}

.social-icons i {
  font-size: 20px;
  margin: 0 10px;
  color: #555;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .team-member {
    flex-basis: calc(33.33% - 40px); /* 3 cards per row on medium screens */
    max-width: calc(33.33% - 40px);
  }
}

@media (max-width: 768px) {
  .team-member {
    flex-basis: calc(50% - 40px); /* 2 cards per row on small screens */
    max-width: calc(50% - 40px);

  }
  .team-section{
    height: auto;
  }

  .team-section h1 {
    font-size: 24px;
  }
  .how{
    height: auto;
  }
}



/* our projects */
body,html{
  height: 100%;
  margin: 0;
  padding: 0;

}
main{
  margin-top: 20px;
  background-color: #f4f4f4;
}
main h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 20px;

}

#carousel {
  position: relative;
  height: 500px;
  top: 40%;
  overflow: hidden;
  color: #fff;
  background-color: #fff;
  padding: 30px;
  margin: auto;
  width: 80%;
}
#carousel div {
  position: absolute;
  transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
  opacity: 1;
  padding-top: 20px;

}
#carousel div img {
    width: 400px;
    transition: width 400ms;
    -webkit-user-drag: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel img:hover {
  cursor: pointer;
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

/*previous or next buttons css*/

.buttons2 {
  bottom: 70px;
  text-align: center;
  display: none;
}

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(201, 100%, 16%) 0%,
    hsl(237, 87%, 27%) 8%,
    hsl(223, 100%, 32%) 92%,
    hsl(242, 100%, 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(218, 100%, 25%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}


@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
 
}
@media (max-width: 768px) {
  
  #carousel{
    width: auto;

  }
  #carousel div img{
    width: 330px;

  }
  #carousel div.selected{
    margin-top: 20px;
  }
  #carousel div{
    padding-top: 50px;
  }
  #carousel div.next img,#carousel div.prev img{
    width: 270px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}


  /* value */
 

  .values-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 50px 20px;
    box-sizing: border-box;
    direction: rtl; 
}

.values-section h1 {
    font-size: 40px;
    color: var(--blue);
    margin-bottom: 40px;
}

.values-section .highlight {
    font-weight: bold;
}

.values-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    width: 100%;
    max-width: 1500px;
    direction: rtl; 
}

.value-item {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
    text-align: right; 
    transition: background-position 0.5s ease, transform 0.3s ease; 

}
.value-item:hover {
  transform: translateY(-10px);
}
.value-text {
    flex: 1;
    margin-right: 20px; 
    margin-left: 0;
    color: #727f91;
    width: 70%;
}

.value-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color:var(--blue);
}

.value-item p {
    font-size: 16px;
    line-height: 1.6;
}
.img-value{
  width: 30%;
}

.value-item img {
    height: 70px;
    object-fit: contain;
    margin-right: 10px; 
    margin-left: 0;
    border-radius: 50%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .values-section h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .values-container {
        flex-direction: column;
        align-items: center;
    }

    .value-item {
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    .value-text {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .value-item img {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .values-section h1 {
        font-size: 28px;
    }

    .value-item h3 {
        font-size: 20px;
    }

    .value-item p {
        font-size: 14px;
    }

    .value-item img {
        width: 100px;
        height: 100px;
    }
}


/* ready */
.cta-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #0d2a4a; /* Black background */
  color: #ffffff; /* White text */
  text-align: center;
  padding: 10px;
}
.cta-content{
  display: flex;
  gap: 40px;
}

.cont{
  max-width: 70%;
}

.btnn{
  max-width: 30%;
}
.cta-content h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: right;
}

.cta-content p {
  font-size: 1.2em;
  margin-bottom: 40px;
  text-align: right;

}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  border: solid 1px #fff;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 75px;
}

.cta-button:hover {
  background-color: var(--green); /* grean background on hover */
  color: #ffffff;
}
.social-links{
  text-align: right;
}
.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:10px  0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
  background-color: var(--bajj);
	color: var(--gold);
	transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .cta-content h1 {
      font-size: 2.2em;
  }

  .cta-button {
      font-size: 1em;
      padding: 12px 25px;
  }
}

@media (max-width: 480px) {
  .cta-content h1 {
      font-size: 1.8em;
  }

  .cta-content p {
      font-size: 1em;
  }

  .cta-button {
      font-size: 0.9em;
      padding: 10px 20px;
  }
  .cta-content{
    gap: 20px;
  }
}

/* client*/
.testimonial-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.testimonial-card {
  min-width: 100%;
  box-sizing: border-box;
}

.client-testimonial-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;  height: 100vh;
}
.more-testimonials-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: var(--blue);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

}

.more-testimonials-button:hover {
  background-color: var(--green);
}

.testimonial-container {
  flex: 1;
  padding: 20px;
  height: 340px;
  display: flex;
  background-color: #f1f1f1;
  z-index: 20;
  width: 55%;
  position: absolute;
  margin-top: 250px;
  margin-right: 10px;
}
.testimonial-text{
  width: 100%;
  margin-top: 20px;
}
.testimonial-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.testimonial-text p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.testimonial-card {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  width: 50%;
  height: 250px;
  border-bottom: #696767 2px solid;
  text-align: right;
}

.testimonial-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card p {
  font-size: 1em;
  margin-bottom: 15px;
}

.testimonial-card h4 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: var(--green);

}

.client-title {
  font-size: 0.9em;
  color: #666;
}

.map-container {
  flex: 2;
  padding: 20px;
  width: 40%;
  z-index: 5; 
  position: relative;
  text-align: left;
  margin-left: 50px;

}

.map-container img {
  width: 45%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .client-testimonial-section {
      padding: 10px;
      display: block;
      height: auto;
      margin: auto;


  }
.testimonial-container{
  margin-right: auto;
}
  .testimonial-container, .map-container {
      padding: 15px;
      margin-top: 20px;
      width: 100%;
      z-index: 0;
      position: static;
      text-align: center;
  }
  .testimonial-text{
    width: 100%;
  }

  .testimonial-text h2 {
      font-size: 1.8em;
  }

  .testimonial-text p {
      font-size: 1em;
  }

  .more-testimonials-button {
      font-size: 0.9em;
      padding: 8px 15px;
  }

  .testimonial-card p {
      font-size: 0.9em;
  }

  .testimonial-card h4 {
      font-size: 1em;
  }

  .map-container img {
      width: 70%;
  }
}

@media (max-width: 480px) {
  .testimonial-text h2 {
      font-size: 1.5em;
  }

  .testimonial-card img {
      width: 50px;
      height: 50px;
  }

  .map-container img {
      max-width: 250px;
  }
}

/* contact_us */

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 650px;
  padding: 20px;
  text-align: center;
}

.contact-header {
  margin-top: 50px;
}

.contact-header .caption {
  font-size: 1.2em;
  color: #0c2949;
  letter-spacing: 1px;
}

.contact-header h1 {
  font-size: 2.5em;
  margin: 10px 0;
  color: var(--blue);
}

.contact-header .description {
  font-size: 1em;
  color: #a6a7aa;
  margin-bottom: 20px;
  max-width: 600px;
}
.contain{
  display: flex;
}
.live-chat-btn {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.live-chat-btn:hover {
  background-color: var(--green);
}

/* Contact Cards Styling */
.contact-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
}

.contact-card {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  width: 30%;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eeeeee;
}

.contact-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-card .icon {
  font-size: 2.5em;
  color: #f3ac4f;
}

.contact-card h2 {
  font-size: 1.5em;
  color:var(--blue);
  margin-top:10px
}

.contact-card p {
  font-size: 1em;
  color: #727f91;
  margin-top: 12px;
}

.contact-btn {
  padding: 7px 17px;
  font-size: 1em;
  color: #fff;
  background-color: var(--blue);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: var(--green);
}

.extra-info {
  font-size: 0.8em;
  color: #999;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .contact-cards {
      flex-direction: column;
      align-items: center;
  }
  .contact-section{
    height: auto;
  }
  .contact-card {
      width: 80%;
      margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .contact-header h1 {
      font-size: 2em;
  }

  .contact-card {
      width: 100%;
  }
  .live-chat-btn{
    margin-top: 0;
  }
}


/* footer */

.footer {
  background-color: var(--blue);
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
}

.footer-left, .footer-center, .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-left {
  width: 100%;
  margin-right: 0;

}
.footer-left, .footer-center, .footer-right{
  text-align: right;
}
.start-project {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #fff;
  padding: 10px 20px;
  transition: background 0.3s, color 0.3s;
  width: 220px;
}

.start-project:hover {
  background-color: #fff;
  color: #000;
}

.footer-services {
  list-style: none;
  padding: 0;
}

.footer-services li {
  margin-bottom: 5px;
}

.footer-center {
  width: 100%;
}

.footer-center h2, .footer-social h2 {
  color: #fff;
  font-size: 30px;
}

.footer-center-list {
  list-style: none;
  padding: 0;
  margin: 0;


}

.footer-center-list a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: right;
  margin-top:15px;

}

.footer-center-list i {
  font-size: 20px;
  margin-left: 5px;
}

.footer-right {
  width: 100%;
  text-align: center;
}

.footer-social {
  margin-top: 10px;
}
.footer-social h2{
  margin-bottom:10px
}
.footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
  margin-right: 15px;

}
.suodia{
  margin-left: 24px;
 }

.footer-social a:hover {
  color: #ccc;
}
@media (max-width: 780px) {
  .footer-container {
    display: block;
  }

  .footer-left, .footer-center, .footer-right {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .start-project {
    width: 100%;
  }

  .footer-center-list a {
    text-align: center;
  }

  .footer-social {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .footer-container {
    display: block;
  }

  .footer-left, .footer-center, .footer-right {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .start-project {
    width: 100%;
  }

  .footer-center-list a {
    text-align: center;
  }

  .footer-social {
    text-align: center;
  }
}

/* page2 */

/* ourwork */


.work-section {
  padding: 20px;
  text-align: center;
}

.work-section h2 {
  font-size: 3em;
  margin-bottom: 20px;
  color: var(--blue);
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  color: var(--blue);
  transition: background-color 0.3s ease;
}

.filter-btn.active, .filter-btn:hover {
  background-color: var(--blue);
  color: #fff;

}

.slider-container {
  position: relative;
  overflow: hidden;
  max-width: 1270px;
  margin: 0 auto;
  direction: rtl;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 300px;
  margin: 0 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-shrink: 0;
}

.slide img {
  width: 300px;
  height:300px ;
  border-bottom: 2px solid #ccc;
}

.slide h3 {
  padding: 10px;
  font-size: 1.2em;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-btn {
  background-color: var(--blue);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.slider-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slider-btn:hover:not(:disabled) {
  background-color: #555;
}


@media (max-width: 480px) {
  .slide img{
    width: 380px;
    height:380px ;
  }
}
/* dmanat */


.guarantees-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.guarantees-section h1 {
  font-size: 2.5rem;
  color: var(--blue);
  margin-bottom: 40px;
}

.container3 {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.guarantee-item {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex: 1;
  margin: 10px;
  background: linear-gradient(to bottom, #fff 50%, #0d2a4a 50%);
  background-size: 100% 200%; 
  background-position: 0 2.8% ; 
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: background-position 0.5s ease, transform 0.3s ease; 
}

.guarantee-item:hover {
  background-position: 0 100%; 
}
.guarantee-item:hover p{
  color: #fff;
}

.guarantee-item img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.guarantee-item h3 {
  font-size: 1.5rem;
  color: #f3ac4f;
  margin-bottom: 10px;
}

.guarantee-item p {
  font-size: 1rem;
  color: var(--blue);
  line-height: 1.6;
}

.footer-text {
  max-width: 1200px;
  width: 100%;
  margin-top: 20px;
  color: var(--blue);
}

.footer-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn2 {
  padding: 12px 25px;
  background-color: #f3ac4f;
  color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-dmanat{
  padding: 12px 25px;
  background-color: var(--blue) !important;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn2:hover,.btn-dmanat:hover {
  background-color: #d98c3f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .guarantees-section {
    padding: 30px 20px;
  }

  .guarantees-section h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .container3 {
    flex-direction: column;
  }

  .guarantee-item {
    margin: 10px 0;
    padding: 20px 15px;
  }

  .guarantee-item h3 {
    font-size: 1.3rem;
  }

  .guarantee-item p {
    font-size: 0.95rem;
  }

  .footer-text p {
    font-size: 1rem;
  }

  .btn2 {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .guarantees-section h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .guarantee-item {
    padding: 15px 10px;
  }

  .guarantee-item img {
    width: 100%;
    height: auto;
  }

  .guarantee-item h3 {
    font-size: 1.2rem;
  }

  .guarantee-item p {
    font-size: 0.85rem;
  }

  .footer-text p {
    font-size: 0.9rem;
  }

  .btn2 {
    font-size: 0.8rem;
    padding: 8px 15px;
  }
}


/* service-page */


.services-section {
  padding: 40px;
  background-color: white;
}

.section-title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 10px;
  color: var(--blue);
}

.section-subtitle {
  text-align: center;
  font-size: 1em;
  color: #777;
  margin-bottom: 30px;
}

.services-container {
  flex-direction: column;
  gap: 20px;
}

.service-card {
  display: flex;
  flex-direction: column;
  background-color: #0d2a4a;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  max-width: 900px;
  margin: auto;
}

.service-card2{
  display: flex;
  flex-direction: column;
  color: #0d2a4a;
  border-radius: 10px;
  border: 1px solid #0d2a4a;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  max-width: 900px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;

}

.service-icon {
  flex-shrink: 0;
  width: 100px; 
  height: 100px; 
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.service-icon img {
  width: 100%; 
  height: auto; 
  border-radius: 50%; 
}


.service-content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service-content p {
  font-size: 1em;
  margin-bottom: 20px;
  word-spacing: 3px;
  line-height: 1.5; 
}

.service-content ul {
  list-style-type: none;
  margin-bottom: 20px;
}

.service-content ul li {
  font-size: 1em;
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

.service-content ul li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #f9f9f9;
}

.read-more {
  align-self: flex-start;
  background-color: #f9f9f9;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.read-more:hover {
  background-color: #e0e0e0;
}

/* Responsive Design */
@media (min-width: 768px) {
  .services-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .service-card {
      flex: 0 1 48%;
      margin-bottom: 20px;
  }
  
}

@media (min-width: 1200px) {
  .service-card {
      flex: 0 1 32%;
  }
}

/* project */


.about-us-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 20px;
}

.content-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 750px;
}

.left-side {
  flex: 1;
  position: relative;
  padding: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('i'); /* Use your background illustration */
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: 1;
}

.text-content {
  position: relative;
  z-index: 2;
}

.text-content h2 {
  font-size: 2.1em;
  margin-bottom: 20px;
  color: var(--blue);
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.6;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 20px;
}



.years .number {
  font-size: 5em;
  margin-right: 10px;
  color: #333;
}

.years .label {
  font-size: 2em;
  color: #666;
}

.description {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #999;
}

.right-side img {
  width: 100%;
  max-width: 440px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    height: auto;
  }

  .right-side, .left-side {
    padding: 20px;
    width: 100%;
  }

  .right-side img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .text-content h2 {
    font-size: 1.8em;
  }

  .text-content p {
    font-size: 1em;
  }
}

/* home of other page */



.container4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.side-panel {
  width: 430px;
  height: 480px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  background-image: url(images/weeeb.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-section h2 {
  color: var(--blue);
  font-size: 20px;
}

.text-section {
  color: var(--blue);
  text-align: right;
  width: 50%;
}

.text-section h2 {
  margin: 0 0 10px;
  font-size: 48px;
}

.text-section p {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 1.5;
}
/* Responsive Design for Tablet and Mobile */
@media (max-width: 768px) {
  .container4 {
      flex-direction: column;
      height: auto;
      padding: 20px;
  }

  .side-panel {
      width: 80%;
      margin: 20px 0;
      height: auto;
  }

  .side-panel h2 {
      font-size: 22px;
  }

  .text-section {
      width: 100%;
      text-align: center;
      padding: 10px;
  }

  .text-section p {
      font-size: 20px;
      text-align: justify;
  }
}

/* Further adjustments for small mobile screens */
@media (max-width: 480px) {
  .container4 {
      padding: 10px;
  }

  .side-panel {
      width: 90%;
      height: 200px;
      margin: 15px 0;
  }

  .text-section h2 {
    font-size: 17px;
  }

  .text-section p {
      font-size: 15px;
  }
}